.big-product-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.big-product-card:hover {
  transform: translateY(-2px);
  border-color: var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}

.big-product-card .big-product-card-image {
  width: 527px;
  height: 448px;
  object-fit: cover;
}

.big-product-card .big-product-card-image img {
  width: 100%;
  height: "auto";
  object-fit: cover;
}

.big-product-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 100%;
  gap: 0.5rem;
}

.big-product-card-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.big-product-card-content p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.big-product-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-inline: 12px;
}

.price-tag {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  gap: 0.5rem;
}
