.btn {
  font-weight: var(--font-weight-semibold);
  border-radius: 43px;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-primary .btn-logo svg path {
  stroke: var(--color-text-white);
}

.btn-outline {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-outline:hover {
  border: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.btn-outline .btn-logo svg path {
  stroke: var(--color-primary);
}

.btn-outline:hover .btn-logo svg path {
  stroke: var(--color-primary-dark);
}

.btn-disabled {
  background-color: var(--color-green-100);
  color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn-disabled:hover {
  background-color: var(--color-green-100);
  color: var(--color-primary-dark);
}

.btn-disabled .btn-logo svg path {
  stroke: var(--color-primary);
}

.btn-disabled:hover .btn-logo svg path {
  stroke: var(--color-primary-dark);
}

.btn-small {
  padding: 10px 24px;
  font-size: var(--font-size-xs);
  line-height: 1.3;
  gap: 4px;
}

.btn-medium {
  padding: 14px 32px;
  font-size: var(--font-size-sm);
  line-height: 1.2;
  gap: 8px;
}

.btn-large {
  padding: 16px 40px;
  font-size: var(--font-size-base);
  line-height: 1.2;
  gap: 12px;
}

.submit {
  width: 100%;
}

.row {
  width: 40%;
}
