.product-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.product-card:hover {
  transform: translateY(-2px);
  border-color: var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}

.product-card .product-card-image {
  width: 254px;
  height: 230px;
  object-fit: cover;
  margin: 5px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
  width: 100%;
}

.product-card-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.product-card-content p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.product-card-content-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.product-card .price-tag {
  margin-bottom: 10px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.product-card .visibility-icon {
  position: absolute;
  top: 32px;
  right: 8px;
}

.product-card .wishlist-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}
